* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#maindiv {
	width: 90%;
	margin: 0 auto;
	padding-left: 100px;
	padding-right: 100px;
	display: block;
	margin: 0 auto;
}

nav {
	background: #FFB4B0;
	display: block;
	width: 100%;
	margin: 10px auto;
}

nav ul li {
	display: inline-block;
	text-decoration: none;
	text-align: left;
	padding: 10px;
}

#sidebar {
	background: #4DD7FA;
	width: 20%;
	display: inline-block;
}

#results {
	background: #FEFAC0;
	width:  75%;
	float: right;
	display: inline-block;
	min-height: 100%
}

.border {
	border: 3px solid black;
}



/*Red = #FFB4B0  
Blue = #4DD7FA  
Light yellow = #FEFAC0  
Dark yellow = #785616*/